.header{
    text-align: center;
    background-color: coral;
    font-family: 'Times New Roman', Times, serif;
}
body {
    font-family: 'Open Sans';
  }
  .tagline{
      margin-bottom: 5px;
      font-style: italic;
      font-weight: bold;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .profile-img {
    float: left;
    width: 350px;
    margin-right: 1.5em;
    display: block;
  }  
  
.main-nav {
    text-align: center;
    margin-top: 10px;
  }
  
  .main-nav ul {
    padding: 0;
  }
  
  .main-nav li {
    display: inline-block;
    text-decoration: none;
    margin: 0 20px;
    text-transform: uppercase;
  }
  
  .main-nav li a {
    text-decoration: none;
    color: #000;
  }
  
  .main-nav li a:hover,
  .main-nav li a.active {
    color: #aaa;
  }
  

